<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>GoldLavender | Mobile List</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mobile-list' %}">Mobiles</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1 class="text-center">Welcome to GoldLavender Mobile world!</h1>
        <h3 class="text-center">Mobile List </h3>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 d-flex justify-content-center align-items-center">
                    <input id="search" type="text" name="search_text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row py-5 d-flex justify-content-center align-items-center">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">Select</th>
                <th scope="col">Brand Name</th>
                <th scope="col">Model Name</th>
                <th scope="col">Color</th>
                <th scope="col">Jan Code</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% csrf_token %}
            {% for mobile in mobile_list %}
                <tr id="{{ mobile.id }}">
                    <th scope="row">
                        <input type="checkbox" name="mobile_id[]" value="{{ mobile.id }}" id="{{ mobile.id }}">
                    </th>
                    <td>{{ mobile.brand_name }}</td>
                    <td>{{ mobile.brand_name }}</td>
                    <td>{{ mobile.model }}</td>
                    <td>{{ mobile.jan_code }}</td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'delete' mobile.id %}">x</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <button class="btn btn-danger" id="delete_btn">Delete Mobiles</button>
    </div>
</div>

<script>

    const sendSearchData = (series) => {
            console.log("lakdsjf:")
        $.ajax({
            type: 'POST',
            url: "{% url 'search-mobile' %}",
            data: {
                'csrfmiddlewaretoken': csrf,
                'series': series,
            },
            success: (res) => {
                console.log(res);
            },
            error: (err) => {
                console.log(err);
            }

        })
    }

    const search_text = document.getElementById("search")
    console.log("search text: ", search_text)

    const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
    console.log("token: ", csrf)

    search_text.addEventListener("keyup", e=> {
        console.log(e.target.value);
        sendSearchData(e.target.value);
    })
</script>

<script>
    $(document).ready(function() {
    $('#delete_btn').click(function() {
        if(confirm('Are you sure you want to delete')){
            var id =[];
            var csrf=$('input[name=csrfmiddlewaretoken]').val();
            $(':checkbox:checked').each(function(i){
                id[i]=$(this).val();

            })
            if(id.length===0){
                alert('Please select items to delete')
            }else{
                console.log(id);
                $.ajax({
                    url: "{% url 'delete-mobiles' %}",
                    method: "POST",
                    data: {
                        id,
                        csrfmiddlewaretoken:csrf
                    },
                    success:function(response){
                        for(var i=0;i<id.length; i++) {
                            $('tr#'+id[i]+'').css('background-color', '#ccc');
                            $('tr#'+id[i]+'').fadeOut('slow');
                        }
                    }
                })
            }
        }
    })
})
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
